 /*This containter contains the game's elements - plane, sky, clouds 
id value for this is = "mainScene"
this can be accessed in game.js using document.getElementById()*/
.mainScene {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/*This container contains the style sheet for the name of the game*/
.gameNameHeading {
	position: absolute;
	top: 10;
	left: 0;
	width: 100%;
	text-align: center;
	pointer-events: none;
	color: #3e038b;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-style: normal;
	font-size: 3em;
	letter-spacing: -0.03em;
}

/*Style sheet for writing 'the'*/
.gameNameHeading top{
	font-style: italic;
	color: #3a23a0;
	display: block;
	letter-spacing: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
	font-size: 0.4em;
	left: 0;
	top: 0;
	bottom: -2;
}

/*Style sheet for writing 'How far can you go??'*/
.gameNameHeading bottom{
	font-style: italic;
	color: #880267;
	display: block;
	letter-spacing: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.3em;
	left: 0;
	top: 0;
}

/*This container contains the style sheet for current level and score*/
.rightSideParamters {
	position: absolute;
	right: 50;
	top: 6vh;
	text-align: center;
	pointer-events: none;
}

/*This container contains the style sheet for current number of bullets and Energy left.*/
.leftSideParameters {
	position: absolute;
	left: 50;
	top: 6vh;
	text-align: center;
	pointer-events: none;
}

/*This stye sheet is for styling all the following elements - 
points, heath bar, stage, bullets*/
.parameterDisplay {
	position: relative;
	display: inline-block;
	padding: 0 1em;
	vertical-align: top;
}

/*This style sheet is for creating the separator bars between
the various score/health/bullet related elements*/
.parameterDisplay:nth-child(2) {
	border-right: 2px solid #881c37;
	border-left: 2px solid #881c37;
}

/*This style sheet is for designing the text that is used in
each score/health/bullet related element's heading*/
.parameterHeading {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin: 0 0 0.5em 0;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #572700;
}

/*This style sheet is for displaying the numerical text for 
current Stage and no. of bullets left*/
.displayStageAndBullets {
	font-size: 26px;
	font-family: 'Comic Sans MS';
	font-weight: bold;
	color: #4d0049;
}

/*This style sheet is for displaying the numerical text for
current no. of points the player has scored.*/
.displayPoints {
	font-size: 30px;
	font-family: 'Comic Sans MS';
	font-weight: bold;
	color: #680139;
}

/*This style sheet is for displaying the health meter - 
it shows the remaining amount of health the player has*/
.healthMeter {
	position: relative;
	border-radius: 3px;
	background-color: #eeebe7;
	margin-top: 20px;
	color: #4d0049;
	width: 60px;
	height: 8px;
}

/*This style sheet iis for filling the health meter with
the appropriate proportion of health left for the player*/
.healthMeterFill {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 2px;
	background-color: #f25346;
	-webkit-animation-name: none;
	animation-name: none;
	-webkit-animation-duration: 150ms;
	animation-duration: 150ms;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/*This style sheet is for drawing the circular border around
the stage number and number of bullets left*/
.stageBulletContainer {
	position: absolute;
	left: 50%;
	width: 46px;
	margin: -37px 0 0 -23px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/*Style sheet for the replay message that is displayed 
onto the screen when the player loses*/
.clickToReplay {
	position: absolute;
	bottom: 52vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #0a0097;
	font-weight: bold;
	left: 0;
	width: 100%;
	font-size: 1.5vw;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
}

/*Style sheet for the click to start message when the 
player opens the game for the first time*/
.clickToStart {
	position: absolute;
	bottom: 52vh;
	display: none;
	text-indent: 0.5em;
	letter-spacing: 0.5em;
	color: #0a0097;
	font-weight: bold;
	left: 0;
	width: 100%;
	font-size: 2.5vw;
	text-align: center;
	pointer-events: none;
}

/*This contains the style sheet for displaying how to play
instructions on the screen*/
.howToPlay {
	position: absolute;
	margin-top: 87vh ;
	margin-left: 55vh;
	text-align: center;
	font-weight: bold;
	font-style: oblique;
	font-size: 1.2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #0b46b3;
	letter-spacing: 0.18em;
	pointer-events: none;
}

/*Style sheet for displaying how to play instructions
on the screen*/
.howToPlay next{
	color: #ff0a0a;
	white-space: nowrap;
	text-align: center;
}

/*Style sheet for displaying how to play instructions
on the screen- Press X to fire*/
.howToPlay next next {
	color: #019c35;
	text-align: center;
}

/*Outermost class containing all the elements*/
.mainClass {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgb(14, 112, 96), rgb(3, 62, 99));
	background: linear-gradient(rgb(134, 180, 159), rgb(192, 115, 43));
}

/*This keyframe animation effect is used for creating
a flickering effect when health is low on health bar*/
@keyframes flickering {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
